{{- $osid := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- if hasKey .chezmoi.osRelease "id" -}}
    {{- $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
  {{- else -}}
    {{- $osid = printf "%s-unknown" .chezmoi.os -}}
  {{- end -}}
{{- end -}}
{{- $profiles := list "server-homelab" "server-linode" "vm-homelab" "lxc-homelab" "desktop" -}}

[data]
osid = "{{ $osid }}"
profiles = {{ $profiles | toJson }}
local_profile = {{ promptChoice "local_profile" "Profile for this machine?" $profiles }}