{{- $choices := list "critical" "essential" "standard" "sandbox" "none" -}}
{{- $securityLevel := promptChoice "What is the designated security level for this host?" $choices -}}

[data]
{{ if eq $securityLevel "critical" -}}
    dircolorsPreset = "lava"
{{- else if eq $securityLevel "essential" -}}
    dircolorsPreset = "dracula"
{{- else if eq $securityLevel "standard" -}}
    dircolorsPreset = "tokyonight-night"
{{- else if eq $securityLevel "sandbox" -}}
    dircolorsPreset = "nord"
{{- else -}}
    dircolorsPreset = ""
{{- end }}
