# homebrew
export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.ustc.edu.cn/brew.git"
export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.ustc.edu.cn/homebrew-core.git"
export HOMEBREW_API_DOMAIN="https://mirrors.ustc.edu.cn/homebrew-bottles/api"
export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.ustc.edu.cn/homebrew-bottles/bottles"
# rustup
export RUSTUP_DIST_SERVER="https://mirrors.ustc.edu.cn/rust-static"
export RUSTUP_UPDATE_ROOT="https://mirrors.ustc.edu.cn/rust-static/rustup"
# go
export GOPROXY="https://goproxy.cn,direct"
export GOSUMDB="sum.golang.google.cn"
# huggingface.io
export HF_ENDPOINT="https://hf-mirror.com"

# set PATH so it includes user's private bin if it exists
# Removed `[ -d "$HOME/bin" ] &&` for performance sake 
export PATH="$HOME/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

# XDG base directory specification
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_CACHE_HOME="${HOME}/.cache"

# zsh
export ZSH_CONFIG_DIR="$XDG_CONFIG_HOME/zsh"
export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"
export ZSH_DATA_DIR="$XDG_DATA_HOME/zsh"

# 在这里设置ZDOTDIR的话会导致路径和加载混乱，因此必须在zsh4humans的.zshenv中进行设定
. "$ZSH_CONFIG_DIR"/zshenv4h