{
	{{- if eq .chezmoi.os "darwin" }}
	"credsStore": "osxkeychain",
	{{- if findExecutable "orb" (list "~/.local/bin" "~/bin" "/usr/local/bin" "/usr/bin") }}
	"currentContext": "orbstack",
	{{- end }}
	{{ else if eq .chezmoi.os "linux"}}
	"credsStore": "pass",
	{{ else if eq .chezmoi.os "windows"}}
	"credsStore": "wincred",
	{{- end }}
	"__comments__": "Docker client settings generated via chezmoi"
}